# Python virtual environment
.venv/

# vscode specific
.vscode/

# macOS
.DS_Store

# Python cache
__pycache__/
logs/*

# Submodules
sondondo.wiki/
sondondo.researchNotes/

#env variables
.env

# pytest cache Created by pytest automatically.
.pytest_cache

*.sqlite

data/clean/*.txt

# temporary exclusions
project_code/proposedAlgorithm.txt
x_*